@mixin avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
}

@mixin bubble {
  border-radius: 10px;
  padding: 20px 25px;
  margin: 10px;
  width: 100%;
  max-width: 500px;
  position: relative;
}

@mixin bubble-arrow {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  transform: translateY(-50%);
}

.user-response {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  justify-content: flex-end;
  .user-avatar {
    @include avatar;
  }
  .message-bubble {
    background-color: lightblue;
    @include bubble;
    .message {
      font-size: 1.5rem;
      font-weight: 500;
    }
    .message-arrow {
      right: -10px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid lightblue;
      @include bubble-arrow;
    }
  }
}

.jeff-response {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 90%;
  margin-bottom: 2rem;
  .jeff-avatar {
    @include avatar;
  }
  .message-bubble {
    background-color: lightgreen;
    @include bubble;
    .message {
      font-size: 1.5rem;
      font-weight: 500;
    }
    .message-arrow {
      @include bubble-arrow;
      left: -10px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid lightgreen;
    }
  }
}

.russian-response {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 90%;
  margin-bottom: 2rem;
  color: rgb(150, 150, 150);
  font-size: 1.5rem;
  font-weight: 800;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
}
