@charset "utf-8";

$green: #008000;
$blue: #3a8fff;
$gray: #797979;
$white: #ffffff;
$bg: rgb(245, 245, 245);

.App {
  position: fixed;
  background: $bg;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: black;
  overflow: auto;
  overflow-x: scroll;
  font-family: consolas, Charcoal, sans-serif;
}

p {
  margin: 0;
}

form {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 1rem 1rem 1rem 0;
  background: $bg;
  text-align: center;
  .main-input {
    width: 95%;
    height: 5rem;
    padding-left: 2rem;
    background: linear-gradient(
      0deg,
      rgba(233, 233, 233, 1) 35%,
      rgba(203, 203, 203, 1) 100%
    );
    color: $gray;
    font-family: consolas, Charcoal, sans-serif;
    font-weight: 800;
    font-size: 2rem;
    white-space: pre;
    outline: none;
    border-radius: 10px;
    border: gray 2px solid;
    transition: outline 0.5s;
    &:hover {
      outline: gray solid 1px;
    }
    &:focus {
      outline: gray solid 3px;
    }
  }
}
